<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyecto de Cálculo</title>
    <link rel='stylesheet' type='text/css' href="../static/style.css">
</head>
<body>
    <!--Encabezado con logotipo y titulo-->
    <header class="header">
        <div class="logotipo-container">
           <img src="../static/logotipo.jpeg" alt="logotipo" />
         <h1>Proyecto de Cálculo II</h1>
        </div>
        <!---Menu de navegación-->
        <nav>
            <ul>
                <li><a href="#inicio">Inicio </a></li>
                <li><a href="#temas">Temas</a></li>
                <li><a href="#area">Área</a></li>
                <li><a href="#volumen">Volumen</a></li>
                <li><a href="#quienes">Quienes Somos</a></li>
                <li><a href="#Más">Más</a></li>
                <li>
                    <input type="text" id="search" placeholder="Buscar tema..">
               <button>🔍</button>
                </li>
            </ul>
        </nav>
    </header>
    <!--Sección de inicio-->
    <section id="inicio" class="hero">
        <div>
        <h2>Bienvenidos a nuestro Proyecto de Cálculo II </h2>
        <P>Un espacio interactivo para aprender<b>integración, derivadas, áreas, volúmenes
            y aplicaciones </b> paso a paso. </P>
            </div>
     </section>
     <!--Sección de temas-->
     <section id="temas">
        <h2>Temas Principales</h2>
         <div class="cards">
            <div class="card">
                <h3>Técnicas de Integración</h3>
                <p>Método avanzados de resolución de integrales.</p>
                <a href="/templates/pages/tecnicas.html" class="btn">Ver más</a>
             </div>
            <div class="card">
                <h3>Integrales Impropias</h3>
                <p>Resuelve integrales con límites infinitos o discontinuidades.</p>
                <a href="/templates/pages/impropias.html" class="btn">Ver más</a>
            </div>
            <div class="card">
                <h3>Integrales por Sustituciones Trigonométricas</h3>
                <p>Transformaciones útiles con sen, cos y tan.</p>
                <a href="/pages/Sustituciones.html" class="btn">Ver más</a>
            </div>
            <div class="card">
        <h3>Fracciones Parciales</h3>
        <p>Descompone racionales para simplificar integrales.</p>
        <a href="/pages/fracciones.html" class="btn">Ver más</a>
      </div>
      <div class="card">
        <h3>Área bajo una función</h3>
        <p>Encuentra el área exacta en intervalos [a,b].</p>
        <a href="/templates/pages/area.html" class="btn">Ver más</a>
      </div>
      <div class="card">
        <h3>Volumen de sólidos</h3>
        <p>Calcula volúmenes generados por revolución.</p>
        <a href="/templates/pages/volumen.html" class="btn">Ver más</a>
      </div>
    </div>
         <!--Sección de quienes somos-->
          <section id="quienes">
             <h2>Quiénes Somos </h2>
              <p>Somos un equipo de estudiantes apasionados por nuestra carrera y al aprendizaje práctico.
                 Este proyecto busca ayudar a comprender y aplicar los conceptos de cálculo de forma sencilla.  </p>
                  <p> Integrantes del proyecto:</p>
                 <p> Francisca Monserat Aguilar Suchi 5190 - 23 - 15180</p>
                 <p>Karla Alejandra Avelar Reyes 5190 - 24 - 19170</p>
                 <!--Sección de contacto-->
                 <section id="Más">
                    </section>
    <!--Pie de página-->
    <footer>
        <p>&copy; 2025 Proyecto de Cálculo - Universidad Mariano Gálvez</p>
        </footer>              

</body>
</html>